.custom-navbar-owner {
    background-color: #60b5ff;

    padding: 1rem 2rem;
    background: #211c84;
}

.custom-navbar-owner .nav-link {
    color: #fac67a !important;

    font-size: 1.2rem;

    transition: color 0.2s ease;
}

.custom-navbar-owner .nav-link:hover {
    color: #e8efcf !important;
}

.custom-navbar-owner .dropdown-menu {
    background-color: #9ec6f3;
    font-size: 1.2rem;
    border: none;
}

.custom-navbar-owner .dropdown-item {
    color: #704264;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

.custom-navbar-owner .dropdown-item:hover {
    background-color: #e4d7b0;

    color: #704264;
}

.custom-navbar-owner i {
    color: #f6b17a;
    font-size: 1.2rem;

    transition: transform 0.2s ease;
}

.custom-navbar-owner i:hover {
    transform: scale(1.1);
}
