/* navbar.css */

/* Stilizarea containerului navbar */

.custom-navbar-faculty {
    background-color: #60b5ff;
    /* o culoare de baza (albastru Bootstrap, de exemplu) */
    padding: 1rem 2rem;
    background: #4a102a;
}

/* Stilizarea link-urilor din navbar */

.custom-navbar-faculty .nav-link {
    color: #f5c45e !important;
    /* foloseste !important daca vrei sa suprascrii stilurile Bootstrap */
    font-size: 1.2rem;
    /* font-weight: 350; */
    transition: color 0.2s ease;
}

.custom-navbar-faculty .nav-link:hover {
    color: #e8efcf !important;
    /* DE AICI SE SCHIMBA DIMENSIUNEA ICONITELOR LA CLICK */
    /* de exemplu, o nuanta de galben la hover */
}

/* Stilizarea meniului dropdown */

.custom-navbar-faculty .dropdown-menu {
    /* background-color: #FCF259; */
    background-color: #e9f5be;
    font-size: 1.2rem;
    border: none;
}

/* culoarea textului din dropdown */
.custom-navbar-faculty .dropdown-item {
    color: #85193c;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

/* culoarea textului din dropdown la hover */
.custom-navbar-faculty .dropdown-item:hover {
    background-color: #e4d7b0;
    /* color: #7a73d1; */
    color: #704264;
}

/* Stilizarea iconitelor daca doresti sa le modifici dimensiunea sau culoarea */

.custom-navbar-faculty i {
    color: #e78b48;
    font-size: 1.2rem;
    /* poti ajusta dimensiunea dupa preferinta */
    transition: transform 0.2s ease;
}

.custom-navbar-faculty i:hover {
    transform: scale(1.1);
}
