.landing-page {
    width: 100%;
    height: 100vh;
    background-image: url("/Poze_apartamente/landing_pagev2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card_titlu {
    padding: 12px 30px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 3rem;
}

.text-wave {
    font-size: 2.5rem;
    color: #8b5e30;
    font-weight: 700;
    display: inline-block;
    margin: 0;
}

.text-wave span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

.landing-page form {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.landing-page input[type="text"] {
    width: 250px;
    padding: 0.6rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
}

.landing-page button[type="submit"] {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: #d8ac70;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: #76471e;
    border-color: #d8ac70;
    border-width: 2px;
    border-style: solid;
}

.landing-page button[type="submit"]:hover {
    border-color: #e0e0e0;
    border-style: solid;
}

.list-all-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    background-color: #d8ac70;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: #76471e;
    border-color: #d8ac70;
    border-width: 2px;
    border-style: solid;
}

.list-all-button:hover {
    border-color: #e0e0e0;
    border-style: solid;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    padding-right: 80px;
}

.search-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.landing-action-button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: #d8ac70;
    color: #76471e;
    border: 2px solid #d8ac70;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    white-space: nowrap;
}

.landing-action-button:hover {
    border-color: #e0e0e0;
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
