.owner-apartments-container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.apartments-owner-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.apartment-owner-card {
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 8px;
    padding: 16px;
    transition: box-shadow 0.2s ease;
    text-align: center;
}

.apartment-owner-card:hover {
    border: 4px solid #fac67a;
    border-radius: 8px;
}

.apartment-owner-card img {
    width: 330px;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    margin-bottom: 16px;
}
