.reservation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.reservation-pop-up-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-close-reservation {
    position: sticky;
    top: 0;
    right: 0;
    margin-right: 8px;
    margin-left: 430px; /* pentru a-l pune in partea dreapta, deoarece apara in stanga fara margin-left */
    width: 35px;
    font-size: 1rem;
    border-radius: 9px;
    z-index: 10;
}

.date-picker-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.date-picker-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.submit-confirma-interval {
    width: 100%;
    padding: 10px;
    background-color: #659287;
    color: #e8efcf;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border-color: #659287;
    border-width: 4px;
    border-style: solid;
}

.submit-confirma-interval:hover {
    background-color: #4a716b;
    border-color: #e8efcf;
    border-width: 5px;
    border-style: solid;
}

.rooms-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.rooms-selector label {
    font-weight: 500;
}

.rooms-selector select {
    padding: 6px 8px;
    font-size: 1rem;
}
